
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h2 class="text-danger">AccessDenied</h2>
        <h5 class="text-danger">You do not have persmission to view this resource</h5>
        <img src="~/images/logo1.png" height="50" class="elevation-2 rounded border bg-blue" />
    </div>

