@model CTVATViewModel
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm mới CTInvoice - <b>@Model.Invoice.Id</b></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove" id="btnCloseCreateCTInvoicePartial">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="post" autocomplete="off" id="frmCTInvoiceCreate">
                <div class="p-4 border rounded">

                    <input asp-for="CTInvoice.InvoiceId" type="hidden" id="hidInvoiceIdInCreateCTInvoicePartial"/> <!-- this field is required - foreignkey to invoice-->
                    <input asp-for="StrUrl" type="hidden" value="@Model.StrUrl" /> <!-- this field for action post-->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label asp-for="CTInvoice.Descript" class="control-label"></label>
                            <input asp-for="CTInvoice.Descript" class="form-control" />
                            <span asp-validation-for="CTInvoice.Descript" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.Quantity" class="control-label"></label>
                            <input type="text" asp-for="CTInvoice.Quantity" class="form-control numbers" id="txtQuantity" />
                            <span asp-validation-for="CTInvoice.Quantity" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.Unit" class="control-label"></label>
                            <input asp-for="CTInvoice.Unit" class="form-control" />
                            <span asp-validation-for="CTInvoice.Unit" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.UnitPrice" class="control-label"></label>
                            <input asp-for="CTInvoice.UnitPrice" class="form-control numbers" id="txtUnitPrice" />
                            <span asp-validation-for="CTInvoice.UnitPrice" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.Percent" class="control-label"></label>
                            <input type="text" asp-for="CTInvoice.Percent" class="form-control numbers" />
                            <span asp-validation-for="CTInvoice.Percent" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.Amount" class="control-label"></label>
                            <input asp-for="CTInvoice.Amount" class="form-control numbers" id="txtAmount" />
                            <span asp-validation-for="CTInvoice.Amount" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.ServiceFee" class="control-label"></label>
                            <input type="text" asp-for="CTInvoice.ServiceFee" class="form-control numbers" />
                            <span asp-validation-for="CTInvoice.ServiceFee" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.VAT" class="control-label"></label>
                            <input type="text" asp-for="CTInvoice.VAT" class="form-control numbers" />
                            <span asp-validation-for="CTInvoice.VAT" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.Muc" class="control-label"></label>
                            <input asp-for="CTInvoice.Muc" class="form-control" />
                            <span asp-validation-for="CTInvoice.Muc" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.TenKhoanMuc" class="control-label"></label>
                            <input asp-for="CTInvoice.TenKhoanMuc" class="form-control" />
                            <span asp-validation-for="CTInvoice.TenKhoanMuc" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.DS" class="control-label"></label>
                            <br />
                            <div class="icheck-primary d-inline ">
                                <input type="checkbox" asp-for="CTInvoice.DS" id="ckDS">
                                <label for="ckDS"></label>
                            </div>
                            <span asp-validation-for="CTInvoice.DS" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.DLHH" class="control-label"></label>
                            <br />
                            <div class="icheck-primary d-inline ">
                                <input type="checkbox" asp-for="CTInvoice.DLHH" id="ckDLHH">
                                <label for="ckDLHH"></label>
                            </div>
                            <span asp-validation-for="CTInvoice.DLHH" class="text-danger"></span>

                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="form-group">
                            <button type="button" id="btnCreateCTInvoicePartial" class="btn btn-primary"><i class="fas fa-save"></i></button>
                            <button id="btnBackCreateCTInvoicePartial" type="button" class="btn btn-success"><i class="fas fa-backward"></i></button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<script src="~/js/Admin/CreateCTInvoicePartial/CreateController.js"></script>
<script src="~/js/Admin/Tours/indexController.js"></script>

<!-- Validation -->
<script>
    var tourIdInCreateCTInvoicePartial = @Model.Invoice.TourId; // send it to indexController / or below
    var invoiceIdInCreateCTInvoicePartial = @Model.Invoice.Id; // send it to indexController / or below
    $('#frmCTInvoiceCreate').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    $('#txtQuantity').rules('add', {
        required: true,
        messages: {
            // required: "Ngày đến không được để trống"
        }
    });

    $('#txtUnitPrice').rules('add', {
        required: true,
        messages: {
            // required: "Ngày đến không được để trống"
        }
    });

</script>

<script>
    $(function () {
        $('.select2').select2()
    });

</script>
