
@model CTVATViewModel

@{
    ViewData["Title"] = "EditCTInvoice";

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="KhachHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect">Danh Sách Invoice</a></li>
                    <li class="breadcrumb-item active">Cập nhật CTInvoice</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Cập nhật CTInvoice - <b>@Model.Invoice.Id</b></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="post" autocomplete="off">
                <div class="p-4 border rounded">

                    <input asp-for="CTInvoice.InvoiceId" type="hidden" /> <!-- this field is required - foreignkey to invoice-->
                    <input asp-for="CTInvoice.Id" type="hidden" /> <!-- this field is required-->
                    <input asp-for="StrUrl" type="hidden" value="@Model.StrUrl" /> <!-- this field for action post-->
                    <input asp-for="CTInvoice.NgayTao" type="hidden" />
                    <input asp-for="CTInvoice.NguoiTao" type="hidden" />
                    <input asp-for="CTInvoice.TiengAnh" type="hidden" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-md-6">
                            <label asp-for="CTInvoice.Descript" class="control-label"></label>
                            <input asp-for="CTInvoice.Descript" class="form-control" />
                            <span asp-validation-for="CTInvoice.Descript" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.Quantity" class="control-label"></label>
                            <input asp-for="CTInvoice.Quantity" class="form-control numbers" />
                            <span asp-validation-for="CTInvoice.Quantity" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.Unit" class="control-label"></label>
                            <input asp-for="CTInvoice.Unit" class="form-control" />
                            <span asp-validation-for="CTInvoice.Unit" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.UnitPrice" class="control-label"></label>
                            <input type="text" asp-for="CTInvoice.UnitPrice" class="form-control numbers" asp-format="{0:0,0}" />
                            <span asp-validation-for="CTInvoice.UnitPrice" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.Percent" class="control-label"></label>
                            <input type="text" asp-for="CTInvoice.Percent" class="form-control numbers" />
                            <span asp-validation-for="CTInvoice.Percent" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.Amount" class="control-label"></label>
                            <input asp-for="CTInvoice.Amount" class="form-control numbers" asp-format="{0:0,0}" />
                            <span asp-validation-for="CTInvoice.Amount" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.ServiceFee" class="control-label"></label>
                            <input type="text" asp-for="CTInvoice.ServiceFee" class="form-control numbers" />
                            <span asp-validation-for="CTInvoice.ServiceFee" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="CTInvoice.VAT" class="control-label"></label>
                            <input type="text" asp-for="CTInvoice.VAT" class="form-control numbers" />
                            <span asp-validation-for="CTInvoice.VAT" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.Muc" class="control-label"></label>
                            <input asp-for="CTInvoice.Muc" class="form-control" />
                            <span asp-validation-for="CTInvoice.Muc" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.TenKhoanMuc" class="control-label"></label>
                            <input asp-for="CTInvoice.TenKhoanMuc" class="form-control" />
                            <span asp-validation-for="CTInvoice.TenKhoanMuc" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.DS" class="control-label"></label>
                            <br />
                            <div class="icheck-primary d-inline ">
                                <input type="checkbox" asp-for="CTInvoice.DS" id="ckDS">
                                <label for="ckDS"></label>
                            </div>
                            <span asp-validation-for="CTInvoice.DS" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="CTInvoice.DLHH" class="control-label"></label>
                            <br />
                            <div class="icheck-primary d-inline ">
                                <input type="checkbox" asp-for="CTInvoice.DLHH" id="todoCheck1">
                                <label for="todoCheck1"></label>
                            </div>
                            <span asp-validation-for="CTInvoice.DLHH" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                            <a class="btn btn-success" asp-controller="KhachHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward"></i></a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section Scripts{
    @*<script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>*@
    <script>
        $(function () {
            $('.select2').select2()
        });
    </script>

    <script src="~/js/Admin/CTInvoice/editController.js"></script>
}

