
@model ChiTietBNViewModel
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Cập nhật chi tiết BN - <b>@Model.BienNhan.SoBN</b></h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <form method="post" autocomplete="off" id="frmEditCTBienNhanPartial">
                <div class="p-4 border rounded">

                    <input asp-for="ChiTietBN.BienNhanId" type="hidden" /> <!-- this field is required - foreignkey to invoice-->
                    <input asp-for="ChiTietBN.Id" type="hidden" /> <!-- this field is required -->
                    <input asp-for="ChiTietBN.NgayTao" type="hidden" />
                    <input asp-for="ChiTietBN.NguoiTao" type="hidden" />
                    <input asp-for="StrUrl" type="hidden" value="@Model.StrUrl" /> <!-- this field for action post-->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-md-9">
                            <label asp-for="ChiTietBN.Descript" class="control-label"></label>
                            <textarea asp-for="ChiTietBN.Descript" class="form-control" id="txtDescript" ></textarea>
                            <span asp-validation-for="ChiTietBN.Descript" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="ChiTietBN.Amount" class="control-label"></label>
                            <input type="text" asp-for="ChiTietBN.Amount" class="form-control numbers" asp-format="{0:0,0}" id="txtAbount"/>
                            <span asp-validation-for="ChiTietBN.Amount" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <button type="button" id="btnEditBienNhanPartialSubmit" class="btn btn-primary" ><i class="fas fa-save"></i> Save</button>
                            <button type="button" id="btnEditBienNhanPartialBack" class="btn btn-success"><i class="fas fa-backward"></i> Back</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<script>
    $(function () {
        $('.select2').select2()
    });
</script>

<!-- Validation -->
<script>

    $('#frmEditCTBienNhanPartial').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    $('#txtDescript').rules('add', {
        required: true,
        messages: {
            // required: "Ngày đến không được để trống"
        }
    });

    $('#txtAbount').rules('add', {
        required: true,
        messages: {
            // required: "Ngày đến không được để trống"
        }
    });

    $('#btnEditBienNhanPartialSubmit').off('click').on('click', function () {
        debugger
        bienNhanId = @Model.BienNhan.Id;
        tourId = @Model.BienNhan.TourId;

        // if frm valid
        if ($('#frmEditCTBienNhanPartial').valid()) {
            var chiTietBN = $('#frmEditCTBienNhanPartial').serialize();
            $.ajax({
                type: "POST",
                url: "/ChiTietBNs/EditCTBienNhanPartialPost",
                data: chiTietBN,
                //data: {
                //    chiTietBN: chiTietBN,
                //    bienNhanId: bienNhanId
                //},
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Cập nhật CTBN thành công!'); // toastr in admin/tour/indexController.js

                        $('#EditCTBNPartial').hide(500);

                        //tourId = tourIdInCreateCTInvoicePartial; // receive it from EditInvoicePartial
                        //indexController.Load_KeToan_TourInfoByTourPartial(tourId);

                        //$('#CTBienNhanInBienNhanPartial').show(500);

                        //var url = '/BienNhans/CTBienNhanInBienNhanPartial';
                        //$.get(url, { bienNhanId: bienNhanId }, function (response) {

                        //    $('#CTBienNhanInBienNhanPartial').html(response);
                            
                        //});


                        var url = '/Tours/BienNhanAndCTBNPartial';
                        $.get(url, { tourId: tourId }, function (response) {

                            $('#BienNhanAndCTBNPartial').html(response);
                            $('#BienNhanAndCTBNPartial').show(500);
                            indexController.Load_CTBienNhanInBienNhanPartial(bienNhanId)
                        });


                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }
    });

    // btnCreateCTBienNhanPartialBack
    $('#btnEditBienNhanPartialBack').off('click').on('click', function () {

        $('#EditCTBNPartial').hide(500);
        $('#CTBienNhanInBienNhanPartial').show(500);
    });
        // btnCreateCTBienNhanPartialBack

</script>

<script src="~/js/Admin/EditCTBienNhanPartial/EditController.js"></script>
<script src="~/js/Admin/Tours/indexController.js"></script>
