@model TourViewModel


<form id="frmHuyTourPartial" asp-action="HuyTour" method="post" autocomplete="off">

    <input type="hidden" asp-for="Tour.Id" />
    <input type="hidden" asp-for="StrUrl" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">

        <div class="col-md-3">
            <label asp-for="Tour.NgayHuyTour" class="control-label"></label>
            <input type="text" asp-for="Tour.NgayHuyTour" class="form-control maskInput" id="txtNgayHuyTour"/>
            <span asp-validation-for="Tour.NgayHuyTour" class="text-danger"></span>
        </div>

        <div class="col-md-3">
            <label asp-for="Tour.NDHuyTourId" class="control-label"></label>
            <select asp-for="Tour.NDHuyTourId" class="form-control select2"
                    asp-items="@(new SelectList(Model.CacNoiDungHuyTours, "Id", "NoiDung"))" id="ddlNDHuyTour">
            </select>
            <span asp-validation-for="Tour.NDHuyTourId" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Tour.GhiChu" class="control-label"></label>
            <input asp-for="Tour.GhiChu" class="form-control " />
            <span asp-validation-for="Tour.GhiChu" class="text-danger"></span>
        </div>

    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-power-off"></i></button>
        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i></button>
    </div>
</form>
<!-- /.modal-content -->


<script src="~/lib/AdminLTE-3.0.5/plugins/jquery.maskedinput/jquery.maskedinput.min.js"></script>
<script>
    $(function () {
        $(".maskInput").mask("99/99/9999");

    });

</script>

<!-- Validation -->
<script>

    $('#frmHuyTourPartial').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    $('#txtNgayHuyTour').rules('add', {
        required: true,
        messages: {
            // required: "Ngày đến không được để trống"
        }
    });

</script>