@model LoaiIVViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Chi tiết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="KhachHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect">Danh Sách Ngành Nghề</a></li>
                    <li class="breadcrumb-item active">Chi tiết loại IV</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Chi tiết loại IV</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <form method="post" autocomplete="off">
                <div class="p-4 border rounded">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-md-1">
                            <label asp-for="LoaiIV.Id" class="control-label"></label>
                            <input asp-for="LoaiIV.Id" class="form-control" readonly/>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="LoaiIV.TenLoaiIV" class="control-label"></label>
                            <input asp-for="LoaiIV.TenLoaiIV" class="form-control" readonly/>
                        </div>

                        <div class="col-md-8">
                            <label asp-for="LoaiIV.GhiChu" class="control-label"></label>
                            <input asp-for="LoaiIV.GhiChu" class="form-control" readonly/>
                        </div>

                    </div>

                    <div class="form-group">
                        <a class="btn btn-primary btn-sm" title="Cập nhật" asp-action="Edit" asp-route-id="@Model.LoaiIV.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-success" asp-controller="KhachHangs" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward"></i></a>
                    </div>
                </div>
            </form>



        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section Scripts{
    @*<script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>*@
    @*<script src="~/js/Admin/NganhNghe/createController.js"></script>*@
}

